// Colors
$color-primary: #ff7518;
$color-secondary: #ff6347;
$background-color: #ffffe5;
$text-color: #212121;
$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
