// Colors
$color-primary: #ff7518;
$color-secondary: #ff6347;
$background-color: #fff9eb;
$text-color: #212121;
$color-white: #ffffff;
$color-black: #252a32;
$color-light: #ffffff;
$box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.07);
